/* ==UserStyle==
@name           FarsiStyles4FamousWebsites
@namespace      professormahi
@version        1.10.5
@description    Styles for Famous Websites to Add Farsi Fonts
@author         Mahdi Fooladgar (professormahi_f@yahoo.com)
@homepageURL    https://github.com/professormahi/stylus-styles/
@supportURL     https://github.com/professormahi/stylus-styles/issues
@updateURL      https://github.com/professormahi/stylus-styles/raw/main/FarsiStyles4FamousWebsites.user.styl
@preprocessor   stylus
@license        MIT

@var select fontFamily "Font Family" ["Shabnam*", "Vazir"]
==/UserStyle== */
@import"https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css";


@-moz-document domain("web.whatsapp.com") {
    body {
        font-family: fontFamily;
    }
}

@-moz-document domain("messages.google.com") {
    .text-msg-content,
    .snippet-text,
    textarea {
        font-family: fontFamily !important;
    }
}

@-moz-document domain("tasks.google.com"),
domain("mail.google.com"),
domain("calendar.google.com") {
    body,
    textarea,
    :dir(rtl) {
        font-family: fontFamily !important;
    }
}
